.age-calculator-body {
  @include flex-container(column, nowrap, space-between, center);
  background-image: url(/cherry.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  .heading {
    padding-top: 20px;
    color: var(--black);
    font-family: var(--font-blackpast);
    font-size: var(--font-6);
    letter-spacing: 4px;
  }
  .container {
    @include flex-container(column, nowrap, flex-start, center);
    max-width: 450px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    margin: 5% 0 0 0;
    padding: 30px;
    background: var(--white-shadow-light-3);
    backdrop-filter: blur(10px);
    border: 1px solid var(--white-shadow-light-1);
    border-radius: 12px;
    box-shadow: 0 0 5px var(--black-shadow-light-1);
    z-index: 5;
    transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    animation: fadeInUp 1s ease-in-out;
    @media (max-width: $breakpoint-desktop-wide) {
      margin: 8% 0 0 0;
      max-width: 400px;
      max-height: 550px;
      padding: 25px;
    }
    @media (max-width: $breakpoint-desktop) {
      margin: 12% 0 0 0;
      max-width: 370px;
      max-height: 510px;
      padding: 20px;
    }
    @media (max-width: $breakpoint-large-tablet) {
      max-width: 400px;
      max-height: 550px;
      padding: 25px;
    }
    @media (max-width: $breakpoint-tablet) {
      padding: 20px;
      max-height: 530px;
    }
    @media (max-width: $breakpoint-phone) {
      max-width: 350px;
      max-height: 500px;
      padding: 15px;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.15);
      box-shadow: 0px 8px 20px -5px var(--black-shadow-medium);
    }

    &__heading {
      position: relative;
      font-family: var(--font-elianto);
      font-size: var(--font-6);
      color: var(--black);
      letter-spacing: 3px;
      margin: 1% 0 5% 0;
      &::before {
        content: "";
        display: block;
        width: 60%;
        height: 5px;
        background: linear-gradient(90deg, var(--blue-7), var(--yellow));
        position: absolute;
        bottom: 0;
        left: 50%;
        border-radius: 20px;
        transform: translateX(-50%);
        transition: width 2s ease-in-out;
        animation: underlineAnimation 2s infinite alternate;
      }
      @keyframes underlineAnimation {
        to {
          width: 20%;
        }
      }
    }
    .input-container {
      margin: 5% 0 0 0;
      text-align: center;
      .dob {
        font-family: var(--font-roboto);
        font-size: var(--font-11);
        color: var(--black);
        letter-spacing: 3px;
        font-weight: 500;
      }

      input[type="date"] {
        font-family: var(--font-tektur);
        font-size: var(--font-12);
        color: var(--black);
        letter-spacing: 3px;
        font-weight: 400;
        margin: 5% 0 0 0;
        width: 100%;
        padding: 15px 30px;
        border: none;
        border-radius: 8px;
        background-color: #f2f2f2;
        box-sizing: border-box;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out 0.1s;
        &:hover {
          backdrop-filter: blur(-10px);
          transform: translate(-1px, 2px);
          box-shadow: var(--black-shadow-light-1) 0px 16px 20px -5px;
        }
      }
    }
    button {
      width: 100%;
      font-family: var(--font-elianto);
      font-size: var(--font-11);
      text-transform: uppercase;
      letter-spacing: 2px;
      color: var(--black);
      position: relative;
      margin: 10% 0 0 0;
      z-index: 1;
      padding: 15px 30px;
      background: linear-gradient(to right, var(--blue-11), var(--blue-12));
      border: none;
      border-radius: 6px;
      cursor: pointer;
      overflow: hidden;
      transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
        background 0.4s ease-in-out;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        font-size: var(--font-9);
      }
      @media (max-width: $breakpoint-phone) {
      }
      &:hover {
        background: linear-gradient(to right, var(--blue-11), var(--blue-12));
        transform: translateY(1px);
        box-shadow: 0px 8px 20px -5px var(--black-shadow-medium);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: var(--white-shadow-1);
        border-radius: 50%;
        opacity: 0.4;
        pointer-events: none;
        transform: scale(0);
        transition: transform 0.4s ease-out, opacity 0.4s ease-out;
      }

      &::before {
        top: -25px;
        left: -25px;
      }

      &::after {
        bottom: -25px;
        right: -25px;
      }
      // ! important
      &:hover::before {
        top: 0px;
        left: -25px;
      }
      &:hover::after {
        top: 0;
        right: -25px;
      }

      &::before {
        animation: ripple 2s linear infinite;
      }

      &::after {
        animation: ripple 2s linear infinite;
      }
      @keyframes ripple {
        to {
          transform: scale(5);
          opacity: 0;
        }
      }
    }
    .result-container {
      margin-top: 20px;
      padding: 20px;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
