.age-calculator-body {
  @include flex-container(column, nowrap, space-between, center);
  background-image: url(/cherry.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  .heading {
    padding-top: 20px;
    color: var(--black);
    font-family: var(--font-blackpast);
    font-size: var(--font-6);
    letter-spacing: 4px;
  }
  .container {
    max-width: 450px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    margin: 5% 0 0 0;
    padding: 30px;
    background: var(--white-shadow-light-3);
    backdrop-filter: blur(10px);
    border: 1px solid var(--white-shadow-light-1);
    border-radius: 12px;
    box-shadow: 0 0 5px var(--black-shadow-light-1);
    z-index: 5;
    transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    animation: fadeInUp 1s ease-in-out;
    @media (max-width: $breakpoint-desktop-wide) {
      margin: 8% 0 0 0;
      max-width: 400px;
      max-height: 550px;
      padding: 25px;
    }
    @media (max-width: $breakpoint-desktop) {
      margin: 12% 0 0 0;
      max-width: 370px;
      max-height: 510px;
      padding: 20px;
    }
    @media (max-width: $breakpoint-large-tablet) {
      max-width: 400px;
      max-height: 550px;
      padding: 25px;
    }
    @media (max-width: $breakpoint-tablet) {
      padding: 20px;
      max-height: 530px;
    }
    @media (max-width: $breakpoint-phone) {
      max-width: 350px;
      max-height: 500px;
      padding: 15px;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.15);
      box-shadow: 0px 8px 20px -5px var(--black-shadow-medium);
    }

    &__heading {
      position: relative;
      font-family: var(--font-elianto);
      font-size: var(--font-6);
      color: var(--black);
      letter-spacing: 3px;
      margin: 1% 0 5% 0;
      &::before {
        content: "";
        display: block;
        width: 60%;
        height: 5px;
        background: linear-gradient(90deg, var(--blue-7), var(--yellow));
        position: absolute;
        bottom: 0;
        left: 50%;
        border-radius: 20px;
        transform: translateX(-50%);
        transition: width 2s ease-in-out;
        animation: underlineAnimation 2s infinite alternate;
      }
      @keyframes underlineAnimation {
        to {
          width: 20%;
        }
      }
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .input-container {
    margin: 5% 0 0 0;
    .dob {
      font-family: var(--font-tektur);
      font-size: var(--font-11);
      color: var(--black);
      letter-spacing: 3px;
      font-weight: 500;
    }

    input[type="date"] {
      font-family: var(--font-tektur);
      font-size: var(--font-11);
      color: var(--black);
      letter-spacing: 3px;
      font-weight: 400;
      margin: 2% 0 0 0;
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 8px;
      background-color: #f2f2f2;
      font-size: 16px;
      box-sizing: border-box;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out 0.1s;
      &:hover {
        backdrop-filter: blur(-10px);
        transform: translate(-1px, 2px);
        box-shadow: var(--black-shadow-light-1) 0px 16px 20px -5px;
      }
    }
  }
  button {
    display: block;
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background-color: #ff7e5f;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
      background-color: #ff4d6e;
    }
  }

  .result-container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
}
